{% extends "layouts/base.html" %}

{% block title %} Öğrenci Detay Sayfası {% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Ders Bilgileri</h4>
                    </div>
                    <hr>
                    
                    <div class="row mt-2">

                        <div class="col-md-6"><label class="labels">Ders :</label>
                            {{lesson_form.lesson}}
                           
                            </div>
                        
                        <div class="col-md-6"><label class="labels">Sınıf :</label>
                            {{lesson_form.className}}
                        </div>
                        <div class="col-md-6"><label class="labels">Öğretmen :</label>
                            
                            {{lesson_form.teacher}}
                        </div>
                    </div>
                    
                    {{
                       
            </div>
            
</div>

<div class="col-md-12">
    <hr>
    <button type="submit"  class="btn btn-success">Değişiklikleri Kaydet</button>
   
</div>
</form>
</div>


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}