{% extends "layouts/base.html" %}

{% block title %} Öğrenci Detay Sayfası {% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Ders Bilgileri</h4>
                    </div>
                    <hr>
                    
                    <div class="row mt-2">

                        <div class="col-md-6"><label class="labels">Ders :</label>
                            {{lesson_form.lesson}}
                           
                            </div>
                        
                        <div class="col-md-6"><label class="labels">Sınıf :</label>
                            {{lesson_form.className}}
                        </div>
                        <div class="col-md-6"><label class="labels">Öğretmen :</label>
                            
                            {{lesson_form.teacher}}
                        </div>
                    </div>
                    
                    <div class="card-block px-0 py-3 col-md-12">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Dersin Kodu</th>
                                        <th scope="col">Ders Adı</th>
                                        <th scope="col">Ders Öğretmeni</th>
                                        <th scope="col">Sınıf Adı</th>
                                        <th scope="col">Sezon</th>
                                        <th scope="col">Periyot</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for studentlist in lesson %}
                                    
                                    <tr class="unread">
                                        <td title="Ders Kodu">
                                            
                                            <h6 class="mb-1">{{studentlist.lesson.code}} </h6>
            
                                        </td>
                                        <td title="Ders Adı">
                                            
                                            <h6 class="mb-1">{{studentlist.lesson.name}} </h6>
            
                                        </td>
                                        <td title="Öğretmen">
                                            <h6 class="mb-1">{{studentlist.teacher.user.first_name}}  {{studentlist.teacher.user.last_name}}</h6>
            
                                        </td>
                                        <td title="Sınıf">
                                            <h6 class="mb-1">{{studentlist.className.className}} </h6>
            
                                        </td>
                                        <td title="Sezon">
                                            <h6 class="mb-1">{{studentlist.className.session}} </h6>
            
                                        </td>
                                        <td title="Period">
                                            <h6 class="mb-1">{{studentlist.className.periods}} </h6>
            
                                        </td>
                                        
                                    
                                    
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    
                </div>     
            </div>
            
</div>

<div class="col-md-12">
    <hr>
    <button type="submit"  class="btn btn-success">Değişiklikleri Kaydet</button>
   
</div>
</form>
</div>


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}