{% extends "layouts/base.html" %}

{% block title %} Öğrenci Detay Sayfası {% endblock %}

{% block content %}
<div class="container  bg-white">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 border-right"> </div>


            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Ders Bilgileri</h4>
                    </div>
                    <hr>
                    
                    <div class="row mt-2">

                        <div class="col-md-6"><label class="labels">Ders İsmi</label>{{lesson_form.name}}</div>
                        <div class="col-md-6"><label class="labels">Code</label>{{lesson_form.code}}</div>
                    </div>
                    
                  
                       
            </div>
            <div class="card-block px-0 py-3">
            
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                           
                              <th scope="col">Ders Adı</th>
                              <th scope="col">Ders Code</th>
                              
                              
                            </tr>
                          </thead>
                          <tbody>
                            
                            
                            {% for studentl in lesson %}
                            
                          
                            <tr class="unread"></tr>
                             
                                    
                                
                                <td title="Ders Adı">
                          
                                    <h6 class="mb-3"> {{studentl.name}}  </h6>
                                   
                                </td>
                                <td title="Ders Code">
                             
                                    <h6 class="mb-3"> {{studentl.code}} </h6>
                             
                                </td>
                                
                               
                                
                            </tr>
                            
                                                    
                            {% endfor %} 
    
    
                        </tbody>
                    </table>
                    
                </div>
            </div>
</div>

<div class="col-md-12">
    <hr>
    <button type="submit"  class="btn btn-success">Değişiklikleri Kaydet</button>
   
</div>
</form>
</div>


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}