{% extends "layouts/base.html" %}

{% block title %} Öğrenciler Listesi {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
button {
    all: unset;
    cursor: pointer;
    }
    
    button:focus {
    outline: none;
    }
</style>
{% endblock stylesheets %}{% block content %}
<div class="col-xl-12 col-md-6">
    <div class="card ">
        <div class="card-header">
            <h5>Sınıf Oluşturma</h5>
        </div>
      
        <div class="card-block px-3 py-3">
        
        <form method="POST">
            {% csrf_token %}
            <div class="form-inline">
                    <label class="required" for="id_classes">Sınıf Seviyesi :</label>
                    <select style="margin:10px" class="form-control" name="classesidadd" required="" id="id_classes" onChange="updatelevel()">
                        {% for classlevel in newclassform.classLevel %}
                        <option value={{classlevel.id}}>{{classlevel}}</option>
                        {% endfor %}
                    </select>
                    <button type="button" style="margin:10px" value="change-related" class="change-related" name="change_id_classes" id="change_id_classes"
                        title="Seçilen Seviyeyi Değiştirir"><img src="/static/admin/img/icon-changelink.svg" alt="Değiştir" data-toggle="modal" data-target="#levelchangemodal"></button>
                    <button type="button" href="" style="margin:10px" class="add-related" name="add_id_classes" id="add_id_classes" title="Başka bir Sınıf Seviyesi Ekler"><img src="/static/admin/img/icon-addlink.svg" data-toggle="modal" data-target="#leveladdmodal" alt="Ekle"></button>
                    <label class="required" for="name_classes">Sınıf Şubesi :</label>
                    <select style="margin:10px" class="form-control" name="classnameadd" required="" id="classnameadd" onChange="updatename()">
                        {% for classlevel in newclassform.className %}
                        <option value={{classlevel.id}}>{{classlevel}}</option>
                        {% endfor %}
                    </select>
                    <button type="button" href="" style="margin:10px" class="change-related" name="change_name_classes" id="change_name_classes" title="Seçilen Seviyeyi Değiştirir "><img src="/static/admin/img/icon-changelink.svg" data-toggle="modal" data-target="#namechangemodal" alt="Değiştir"></button>
                    <button type="button" href="" style="margin:10px" class="add-related" name="add_name_classes" id="add_name_classes"title="Başka bir Sınıf Seviyesi Ekler"><img src="/static/admin/img/icon-addlink.svg" data-toggle="modal" data-target="#nameaddmodal" alt="Ekle"></button>
                    
                    <input style="margin:10px" type="submit" value="Yeni Sınıf ekle" class="btn btn-primary" name="_addanother">
                </div>
                <script type="text/javascript">
                    function updatelevel() {
                        var select = document.getElementById('id_classes');
                        var option = select.options[select.selectedIndex];
        
                        document.getElementById('clvalue').value = option.text;
                    }
        
                    updatelevel();
                </script>
                <div class="modal fade" id="levelchangemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Sınıf seviyesini düzenle</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="text" id="clvalue" placeholder="---------" name="clvalue">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                          <button type="submit" class="btn btn-primary" value="clvaluesave" name="clvaluesave">Kaydet</button>
                        </div>
                      </div>
                    </div>
                  </div>
               <div class="modal fade" id="leveladdmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Yeni sınıf seviyesi ekle</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" id="clvaluenew" placeholder="---------" name="clvaluenew">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                      <button type="submit" class="btn btn-primary" value="clvaluenewsave" name="clvaluenewsave">Kaydet</button>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                function updatename() {
                    var select = document.getElementById('classnameadd');
                    var option = select.options[select.selectedIndex];
    
                    document.getElementById('cnvalue').value = option.text;
                }
    
                updatelevel();
            </script>
              <div class="modal fade" id="namechangemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Sınıf şubesini düzenle</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" id="cnvalue" placeholder="---------" name="cnvalue">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                      <button type="submit" class="btn btn-primary" value="cnvaluesave" name="cnvaluesave">Kaydet</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="nameaddmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Yeni sınıf şubesi ekle</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" id="cnnewvalue" placeholder="---------" name="cnnewvalue">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                      <button type="submit" class="btn btn-primary" value="cnnewvaluesave" name="cnnewvaluesave">Kaydet</button>
                    </div>
                  </div>
                </div>
              </div>
            <br> <br>
            {% if error %}
            <div class="alert alert-danger">Bu sınıf zaten bulunuyor</div>
            {% endif %}
            <br><br>
        </form>
        <br class="clear">
    
        <div class="card-block px-0 py-3 col-md-6">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th scope="col">Sınıf Adı</th>
                            <th scope="col">Sezon</th>
                            <th scope="col">Periyot</th>
                            <th scope="col">Öğrenci Sayısı</th>
                            <th scope="col">Güncelleme</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for studentlist in classList %}
                        <tr class="unread">

                            <td title="Sınıf">
                                <h6 class="mb-1">{{studentlist.className}} </h6>

                            </td>
                            <td title="Sezon">
                                <h6 class="mb-1">{{studentlist.session}} </h6>

                            </td>
                            <td title="Period">
                                <h6 class="mb-1">{{studentlist.periods}} </h6>

                            </td>
                            <td title="Period">
                                <h6 class="mb-1">{{studentlist.students.count}} </h6>

                            </td>
                            {% if user.is_staff %}
                            <td>
                                <a href="{% url 'StudentListUpdateView' studentlist.id %}"
                                    class="label btn btn-primary  f-12">Güncelle</a>

                            </td>
                            <td>
                              <a href="{% url 'classes-delete' studentlist.id %}"
                                  class="label btn btn-danger  f-12">Sil</a>
                              
                          </td>
                            
                            {% endif %}
                        </tr>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                
            </div>
    
    
    
    </div>

</div></div></div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}