{% extends "layouts/base.html" %}

{% block title %} Öğrenciler Listesi {% endblock %}

{% block content %}







<div class="col-xl-12 col-md-6">
  <form action="" method="GET">
    {% csrf_token %}
    <div class="card ">
      <div class="card-header">
        <h5> {{studentList.className}}  - Öğrenci Listesi</h5>
        


        <div class="card-block px-0 py-3 col-md-6">

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col-md-3">Mevcut Sınıf</th>
                  <th scope="col-md-3">Ad/Soyad</th>
                  <th scope="col-md-3">Seçilme Durumu</th>

                </tr>
              </thead>
              <tbody>


                {% for student in studentList.students.all %}
                <tr class="unread"></tr>
                

                <td title="Sınıf">

                  <h6 class="mb-1">{{studentList.className}} </h6>
                  </a>
                </td>
                <td title="Ad Soyad">

                  <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                  </a>
                </td>
                <td>
                  <div class="checkbox checkbox-success checkbox-fill d-inline">
                    
                    <input name="student_check" id="checkbox-infill-{{student.id}}" type="checkbox" unchecked
                      data-toggle="toggle" data-on="Taşınacak" data-off="OK" data-onstyle="danger" data-offstyle="success"
                      value="{{student.id}}"> 
                  </div>
                </td>
                </tr>

                {% endfor %}






              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="col-md-12 mx-5">
        <hr>
        <div class="form-inline">
          <div class="card-header">
            <h5>Taşınacak Öğrenci/Öğrencilerin Sınıfı</h5>
         
          <div class="form-group col-xl-12 col-md-6">
            <label class="mr-3" for="classLevel">Seviye</label>
            <select id="classLevel" class="form-control mr-3" name="classLevel">

              {% for classLevel in classLevels %}
              <option value="{{ classLevel }}" {% if classLevel.selected %} selected {% endif %}>{{ classLevel }}
              </option>
              {% endfor %}
            </select>


            <label class="" for="className">Şube</label>
            <select id="className " class="form-control mx-3" name="className">

              {% for className in classNames %}
              <option value="{{ className }}">{{ className }}</option>
              {% endfor %}

            </select>
            <button id="but1" type="submit" class="btn btn-success" data-toggle="modal"
            data-target="#classChangeModal">Değişiklikleri Kaydet</button>
            

          </div>

        </div>
      </div>

      </div>
  </form>

</div>
<!-- Modal -->
<div class="modal fade" id="classChangeModal" tabindex="-1" role="dialog" aria-labelledby="classChangeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="classChangeModalLabel">Taşınacak Öğrenci Bilgileri</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ className }}{{ classLevel }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}