
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
        Girdiğiniz e-postayla birlikte bir hesap varsa, parolanızı ayarlama talimatlarını size e-postayla göndermiş oluruz. Onları kısa süre içinde teslim almalısın.

E-posta almazsanız lütfen kayıtlı olduğunuz adresi girdiğinizden emin olun ve spam klasörünüzü kontrol edin.
    </p>
  {% endif %}
