{% extends "layouts/base.html" %}

{% block title %} Öğrenci Detay Sayfası {% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Veli Bilgileri</h4>
                    </div>
                    <hr>
                    
                    <div class="row mt-2">

                        <div class="col-md-6"><label class="labels">Ad</label>{{parent_Form.firstName}}</div>
                        <div class="col-md-6"><label class="labels">Soyad</label>{{parent_Form.lastName}}</div>
                        <div class="col-md-12"><label class="labels">Yakınlık Durumu:</label>{{parent_Form.relation}}</div>
                    </div>
                    
                    <div class="row mt-3">

                        <div class="col-md-12"><label class="labels">Adres:</label>{{parent_Form.adsreds}}</div>    
                        <div class="col-md-12"><label class="labels">İş Durumu:</label>{{parent_Form.job}}</div>
                        <div class="col-md-6"><label class="labels">Telefon :</label>{{parent_Form.phone}}</div>
                       

                    </div>
                       
            </div>
            
</div>

<div class="col-md-12">
    <hr>
    <button type="submit" href="/student/add" class="btn btn-success">Değişiklikleri Kaydet</button>
    <a type="button"  href="/student/add" class="btn btn-dark"> Geri dön </a>
</div>
</form>
</div>


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}