{% extends "layouts/base.html" %}

{% block title %} Öğrenci Detay Sayfası {% endblock %}

{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    
                    <img class="rounded-circle mt-5" width="150px"  src="{{media_url}}images/person.png"  alt="{{media_url}}images/person.png">
                    <hr>
                    <span>
                        {{student_form.image}}
                    </span>

                    

                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Öğrenci Bilgileri</h4>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">TC No : </label>{{student_form.TC}}</div>

                    </div>
                    <div class="row mt-2">

                        <div class="col-md-6"><label class="labels">Ad</label>{{student_form.firstName}}</div>
                        <div class="col-md-6"><label class="labels">Soyad</label>{{student_form.lastName}}</div>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Kayıt Yılı:</label>{{student_form.session}}</div>
                        <div class="col-md-6"><label class="labels">Sınıfı :</label>
                            
                            <select id="classNameSelect " class="form-control " name="classNameSelect">
                            
                                {% for classNamex in allClassList %}
                            
                                <option  value="{{ classNamex.id }}" selected >{{ classNamex.className }}</option>
                                     
                                {% endfor %}
            
                            </select>
                            </div>
                        <div class="col-md-6"><label class="labels">Okul No :</label>{{student_form.number}}</div>
                                    
                    </div>
                    <hr>
                    <div class="row mt-3">

                        <div class="col-md-12"><label class="labels">Adres:</label>{{student_form.address}}</div>
                        <div class="col-md-12"><label class="labels">E-mail:</label>{{student_form.email}}</div>
                        <div class="col-md-12"><label class="labels">Telefon </label>{{student_form.phone}}</div>
                        <div class="col-md-12"><label class="labels">Orta Okulu:</label>{{student_form.middleSchool}}
                        </div>
                        
                    </div>
                    <hr>

                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Doğum Günü:</label><input type="date" method="POST" name="birtdate" class="form-control" {% if student.birtdate %} value="{{birtdate}}"{% endif %}></div>
                        <div class="col-md-6"><label class="labels">Kız/Erkek ? </label>{{student_form.gender}}</div>
                        <div class="col-md-6"><label class="labels">HES Kodu</label>{{student_form.HESCode}}</div>
                        <div class="col-md-12"><label class="labels">Sağlık Durumu:</label>{{student_form.health}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12"><label class="labels">Veli İsmi :</label></div>
                        <div class="col-md-8">
                           <select id="parentFormSelect " class="form-control" name="parentFormSelect">
                              
                               {% for parent in parents %}
                               
                               <option  value="{{ parent.id }}" selected >{{ parent.firstName}}  {{ parent.lastName}}</option>
                               
                               {% endfor %}
               
                               </select>
                               
                         
                        </div>   
                        <div class="col-md-4">
                            <a type="button"  href="/student/parent/add" class="btn btn-info"> ekle </a>
                            </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                    
                </div>
            </div>
        </div>



</div>

</div>
<div class="col-md-12 mx-5">
    <hr>
    <button type="submit" class="btn btn-success">Değişiklikleri Kaydet</button>
</div>
</form>
</div>


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}