{% extends "layouts/base.html" %}

{% block title %} Öğrenciler Listesi {% endblock %}

{% block content %}   

<div class="col-xl-12 col-md-6">
    <div class="card ">
        <div class="card-header">
            <h5>Öğrenci Tablosu</h5>
        </div>
        {% include  'includes/filter.html' %}
        
        <div class="card-block px-0 py-3">
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Profil Resmi</th>
                        <th scope="col">Sınıf</th>
                        <th scope="col">Okul No</th>
                          <th scope="col">Ad ve Soyad</th>
                          <th scope="col">Görevi</th>
                          <th scope="col">Telefon</th>
                          <th scope="col">Adres</th>
                          <th scope="col">Email</th>
                          <th scope="col">Aktif</th>
                          <th scope="col">Profile Detay</th>
                          <th scope="col">Yetki</th>
                          <th scope="col">Profil Sil</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        
                        {% for student in object_list.students %}
                        
                        <tr class="unread">
                            <td><img class="rounded-circle" style="width:50px;" src="{{media_url}}{{student.image}}" alt="activity-user"></td>
                            <td title="Sınıfı">
                                <h6 class="mb-1">{{studentlist.className}}  </h6> 
                            </td>
                            <td title="Okul No">
                                <h6 class="mb-1">{{student.number}} </h6>
                            
                            </td>
                            <td title="Ad Soyad">
                                <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                            
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.TC}} </h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.phone}} </h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.address}}</h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.email}} </h6>
        
                            </td>
                            <td>
                                {% if student.status %}
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i></h6>
                                {% else %}
                                <h6 class="text-muted"><i class="fas fa-circle text-c-black f-10 m-r-15"></i></h6>
                                {% endif %}
                            </td>
                            
                        </tr>
                       
                       {% endfor %} 
                       {% for studentlistx in object_list.studentlist  %}
                       {% endfor %} 
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>



{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
