{% extends "layouts/base.html" %}

{% block title %} Öğrenciler Listesi {% endblock %}

{% block content %}   

 <!--[ Recent Users ] start-->
 <div class="col-xl-8 col-md-6">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>Kullanıcılar Tablosu</h5>
        </div>
        {% include  'includes/filter.html' %}
        
        <div class="card-block px-0 py-3">
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Profil Resmi</th>
                          <th scope="col">Ad ve Soyad</th>
                          <th scope="col">Görevi</th>
                          <th scope="col">Telefon</th>
                          <th scope="col">Adres</th>
                          <th scope="col">Email</th>
                          <th scope="col">Aktif</th>
                          <th scope="col">Profile Detay</th>
                          <th scope="col">Yetki</th>
                          <th scope="col">Profil Sİl</th>
                        </tr>
                      </thead>
                    <tbody>
                        <!-- {% for student in students %} -->
                        <tr class="unread">
                            <td><img class="rounded-circle" style="width:50px;" src="{{media_url}}{{student.image}}" alt="activity-user"></td>
                           
                            <td title="Ad Soyad">
                                <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                            
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.TC}} </h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.phone}} </h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.address}}</h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{student.email}} </h6>
        
                            </td>
                            <td>
                                {% if student.status %}
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i></h6>
                                {% else %}
                                <h6 class="text-muted"><i class="fas fa-circle text-c-black f-10 m-r-15"></i></h6>
                                {% endif %}
                            </td>
                            {% if user.is_staff %}
                            <!-- <td>
                                
                                <a href="{% url 'users-view' student.id %}"class="label theme-bg text-white f-12">Profile Git</a>
                            </td>
                            <td>
                                {% if kullanici.is_staff %}
                                <a href="{% url 'yetki' student.id %}" class="label theme-bg text-white f-12">Yetki Kaldır</a>
                                {% else %}
                                <a href="{% url 'yetki' student.id %}" class="label theme-bg text-white f-12">Yetki Ver</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'delete' student.id %}" class="label theme-bg text-white f-12">Kullanıcı Sİl</a>
                                
                            </td> -->
                            {% endif %}
                        </tr>
                       <!-- {% endfor %}  -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--[ Recent Users ] end-->

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
