{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                       
                        
                        <div class="col-xl-4 col-md-6">
                            
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-user f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ teachers.count }}</h3>
                                            <span class="d-block text-uppercase">Toplam Kayıtlı Öğretmen</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-user f-30 text-c-purple"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{teacherWCount.count}}</h3>
                                            <span class="d-block text-uppercase">Bayan Öğretmen</span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="feather icon-user f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{teacherMCount.count}}</h3>
                                            <span class="d-block text-uppercase">Erkek Öğretmen</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-user f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{students.count}}</h3>
                                            <span class="d-block text-uppercase">Toplam Kayıtlı Öğrenci</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-user f-30 text-c-purple"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{girlsCount.count}}</h3>
                                            <span class="d-block text-uppercase">Kız Öğrenci</span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="feather icon-user f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{boysCount.count}}</h3>
                                            <span class="d-block text-uppercase">Erkek Öğrenci</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ statistics year chart ] end -->
                        <!--[social-media section] start-->
                        

                        <!-- [ attandance list ] end-->
                        <div class="col-xl-12 col-md-12 m-b-30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="attandanceFirst-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">İlk Ders Gelmeyenler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="attandanceDaily-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Bugün Gelmeyenler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="attandanceWeekly-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Bu hafta gelmeyenler</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Öğrenci</th>
                                                <th>Numara</th>
                                                <th>Sınıf</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in first_lesson_absent %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="{{media_url}}{{student.0.image}}" alt="activity-user">{{student.0.firstName}} {{student.0.lastName}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0">{{student.0.number}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'redirecttoclass' student.2 %}"><h6 class="m-0">{{student.1}}</h6></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Öğrenci</th>
                                                <th>Numara</th>
                                                <th>Sınıf</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in today_absent %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="{{media_url}}{{student.0.image}}" alt="activity-user">{{student.0.firstName}} {{student.0.lastName}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0">{{student.0.number}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'redirecttoclass' student.2 %}"><h6 class="m-0">{{student.1}}</h6></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Öğrenci</th>
                                                <th>Numara</th>
                                                <th>Gelmediği Gün</th>
                                                <th>Sınıf</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in thisWeek_absent %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="{{media_url}}{{student.0.image}}" alt="activity-user">{{student.0.firstName}} {{student.0.lastName}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0">{{student.0.number}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.0.id %}"><h6 class="m-0">{{student.1}}</h6></a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'redirecttoclass' student.3 %}"><h6 class="m-0">{{student.2}}</h6></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
                <!-- [ attandance list ] end-->
                <div class="col-xl-12 col-md-12 m-b-30">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="9class-tab" data-toggle="tab" href="#9class" role="tab" aria-controls="9class" aria-selected="false">9.Sınıflar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active show" id="10class-tab" data-toggle="tab" href="#10class" role="tab" aria-controls="10class" aria-selected="true">10.Sınıflar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="11class-tab" data-toggle="tab" href="#11class" role="tab" aria-controls="11class" aria-selected="false">11.Sınıflar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="12class-tab" data-toggle="tab" href="#12class" role="tab" aria-controls="12class" aria-selected="false">12.Sınıflar</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="9class" role="tabpanel" aria-labelledby="9class-tab">
                            <div class="card-block px-0 py-3">
            
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col">Profil Resmi</th>
                                            <th scope="col">Okul No</th>
                                              <th scope="col">Ad ve Soyad</th>
                                              <th scope="col">Görevi</th>
                                              <th scope="col">Telefon</th>
                                              <th scope="col">Adres</th>
                                              <th scope="col">Email</th>
                                              <th scope="col">Aktif</th>
                                              
                                              
                                     
                                            </tr>
                                          </thead>
                                          <tbody>
                                            
                                            
                                            {% for studentl in class9 %}
                                            
                                            {% for student in studentl.students.all %}
                                            <tr class="unread"></tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <img class="rounded-circle" style="width:50px;" src="{{media_url}}{{student.image}}" alt="activity-user"></td>
                                                    </a>
                                                
                                                <td title="Okul No">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{studentl.className}} - {{student.number}}  </h6>
                                                     </a>
                                                </td>
                                                <td title="Ad Soyad">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.TC}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.phone}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.address}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.email}} </h6>
                                                </a>
                                                
                                                
                                                
                                            </tr>
                                            
                                           {% endfor %} 
                                           
                                            {% endfor %} 
                    
                    
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade active show" id="10class" role="tabpanel" aria-labelledby="10class-tab">
                            <div class="card-block px-0 py-3">
            
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col">Profil Resmi</th>
                                            <th scope="col">Okul No</th>
                                              <th scope="col">Ad ve Soyad</th>
                                              <th scope="col">Görevi</th>
                                              <th scope="col">Telefon</th>
                                              <th scope="col">Adres</th>
                                              <th scope="col">Email</th>
                                              <th scope="col">Aktif</th>
                                              
                                              
                                     
                                            </tr>
                                          </thead>
                                          <tbody>
                                            
                                            
                                            {% for studentl in class10 %}
                                            
                                            {% for student in studentl.students.all %}
                                            <tr class="unread"></tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <img class="rounded-circle" style="width:50px;" src="{{media_url}}{{student.image}}" alt="activity-user"></td>
                                                    </a>
                                                
                                                <td title="Okul No">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{studentl.className}} - {{student.number}}  </h6>
                                                     </a>
                                                </td>
                                                <td title="Ad Soyad">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.TC}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.phone}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.address}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.email}} </h6>
                                                </a>
                                                
                                                
                                                
                                            </tr>
                                            
                                           {% endfor %} 
                                           
                                            {% endfor %} 
                    
                    
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="11class" role="tabpanel" aria-labelledby="11class-tab">
                            <div class="card-block px-0 py-3">
            
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col">Profil Resmi</th>
                                            <th scope="col">Okul No</th>
                                              <th scope="col">Ad ve Soyad</th>
                                              <th scope="col">Görevi</th>
                                              <th scope="col">Telefon</th>
                                              <th scope="col">Adres</th>
                                              <th scope="col">Email</th>
                                              <th scope="col">Aktif</th>
                                              
                                              
                                     
                                            </tr>
                                          </thead>
                                          <tbody>
                                            
                                            
                                            {% for studentl in class11 %}
                                            
                                            {% for student in studentl.students.all %}
                                            <tr class="unread"></tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <img class="rounded-circle" style="width:50px;" src="{{media_url}}{{student.image}}" alt="activity-user"></td>
                                                    </a>
                                                
                                                <td title="Okul No">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{studentl.className}} - {{student.number}}  </h6>
                                                     </a>
                                                </td>
                                                <td title="Ad Soyad">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.TC}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.phone}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.address}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.email}} </h6>
                                                </a>
                                                
                                                
                                                
                                            </tr>
                                            
                                           {% endfor %} 
                                           
                                            {% endfor %} 
                    
                    
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="12class" role="tabpanel" aria-labelledby="12class-tab">
                            <div class="card-block px-0 py-3">
            
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col">Profil Resmi</th>
                                            <th scope="col">Okul No</th>
                                              <th scope="col">Ad ve Soyad</th>
                                              <th scope="col">Görevi</th>
                                              <th scope="col">Telefon</th>
                                              <th scope="col">Adres</th>
                                              <th scope="col">Email</th>
                                              <th scope="col">Aktif</th>
                                              
                                              
                                              
                                            </tr>
                                          </thead>
                                          <tbody>
                                            
                                            
                                            {% for studentl in class12 %}
                                            
                                            {% for student in studentl.students.all %}
                                            <tr class="unread"></tr>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <img class="rounded-circle" style="width:50px;" src="{{media_url}}{{student.image}}" alt="activity-user"></td>
                                                    </a>
                                                
                                                <td title="Okul No">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{studentl.className}} - {{student.number}}  </h6>
                                                     </a>
                                                </td>
                                                <td title="Ad Soyad">
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.firstName}} {{student.lastName}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.TC}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.phone}} </h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.address}}</h6>
                                                </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'student-view' student.id %}">
                                                    <h6 class="mb-1">{{student.email}} </h6>
                                                </a>
                                                
                                                
                                                
                                            </tr>
                                            
                                           {% endfor %} 
                                           
                                            {% endfor %} 
                    
                    
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- [ Main Content ] end -->
        </div>
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
