{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ form.image.url }}" alt={{media_url}} width="140" height="140">
      <h2>{{form.user.first_name}}  {{form.user.last_name}}</h2>
      <p class="lead">Bu profil sayfası bilgileriniz içermektedir. Her kullanıcı sadece kendi profilini görecektir.</p>
    </div>

    <div class="row">
      
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Kullanıcı Bilgileri   </h4>
        <form class="needs-validation"  method="POST">
          {% csrf_token %}
          
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="firstName">Adınız</label>
              {{form.HESCode}}
              
              <div class="invalid-feedback">
                Adınızı girmeniz gerekmektedir.
                <label for="firstName">Adınız</label>
                
              </div>
            </div>
            
          
   
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Kaydet</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2021-2022 RoboBusters</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Gizlilik</a></li>
        <li class="list-inline-item"><a href="#">Şartlat</a></li>
        <li class="list-inline-item"><a href="#">Destek</a></li>
      </ul>
    </footer>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}