{% extends "layouts/base.html" %}

{% block title %} Kullanıcılar {% endblock %}

{% block content %}   

 <!--[ Recent Users ] start-->
 <div class="col-xl-12 col-md-6">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>Kullanıcılar Tablosu</h5>
        </div>
        {% include  'home/filter.html' %}
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Profil Resmi</th>
                          <th scope="col">Ad ve Soyad</th>
                          <th scope="col">Görevi</th>
                          <th scope="col">Telefon</th>
                          <th scope="col">Adres</th>
                          <th scope="col">Email</th>
                          <th scope="col">Aktif</th>
                          {% if user.is_staff %}
                          <th scope="col">Profile Detay</th>
                                <th scope="col">Yetki</th>
                          <th scope="col">Profil Sİl</th>
                          {% endif %}
                        </tr>
                      </thead>
                    <tbody>
                        {% for kullanici in Kullanicilar %}
                        <tr class="unread">
                            
                            <td>
                                <a href="{% url 'users-view' kullanici.id %}">
                                <img class="rounded-circle" style="width:50px;" src="{{media_url}}{{kullanici.image}}" alt="activity-user" >
                            </a>
                            </td>
                        
                            <td title="Ad Soyad">
                                <a href="{% url 'users-view' kullanici.id %}">
                                <h6 class="mb-1">{{kullanici.user.first_name}} {{kullanici.last_name}}</h6>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'users-view' kullanici.id %}">
                                <h6 class="mb-1">{{kullanici.job}} </h6>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'users-view' kullanici.id %}">
                                <h6 class="mb-1">{{kullanici.phone}} </h6>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'users-view' kullanici.id %}">
                                <h6 class="mb-1">{{kullanici.adress}}</h6>
                            </a>
                            </td>
                            <td>
                                <a href="{% url 'users-view' kullanici.id %}">
                                <h6 class="mb-1">{{kullanici.user.email}} </h6>
                            </a>
                            </td>
                            <td>
                                {% if kullanici.isWorking %}
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i></h6>
                                {% else %}
                                <h6 class="text-muted"><i class="fas fa-circle text-c-black f-10 m-r-15"></i></h6>
                                {% endif %}
                            </td>
                            {% if user.is_staff %}
                            <td>
                                
                                <a href="{% url 'users-view' kullanici.id %}" class="btn btn-info">Profile Git</a>
                            </td>
                            <td>
                                {% if kullanici.user.is_staff %}
                                <div id="{{kullanici.user.id}}model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{kullanici.user.id}}modelLabel" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="{{kullanici.user.id}}modelLabel">Öğretmen Yetkisi Kaldırılacak</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p> {{kullanici.user.first_name}} {{kullanici.last_name}}  isimli öğretmenin yetkisini kaldırmak istediğinize emin misiniz ? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                <a href="{% url 'yetki' kullanici.user.id %}"><button type="button" class="btn btn-primary">Yetki kaldır</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#{{kullanici.user.id}}model">Yetki Kaldır</button>
                                {% else %}
                                <div id="{{kullanici.user.id}}model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{kullanici.user.id}}modelLabel" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="{{kullanici.user.id}}modelLabel">Yetki Verilecek</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p> {{kullanici.user.first_name}} {{kullanici.last_name}}  isimli öğretmene yetki vermek istediğinize emin misiniz ? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                <a href="{% url 'yetki' kullanici.user.id %}"><button type="button" class="btn btn-primary">Yetki Ver</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#{{kullanici.user.id}}model">Yetki Ver</button>
                                {% endif %}
                            </td>
                            <td>
                                
                                <div id="{{kullanici.id}}model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{kullanici.id}}modelLabel" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="{{kullanici.id}}modelLabel">Öğrenci Silinecek</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p> {{studentlist.lesson.name}} {{studentlist.className.className}}  isimli öğrenciyi silmek istediğinize emin misiniz ? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                <a href="{% url 'delete' kullanici.id %}"><button type="button" class="btn btn-danger">Sil</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{kullanici.id}}model">Sil</button>
                            </td>
                            {% endif %}
                        </tr>
                       {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--[ Recent Users ] end-->

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
<div id="{{kullanici.user.id}}model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{kullanici.user.id}}modelLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{kullanici.user.id}}modelLabel">Öğrenci Silinecek</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p> {{studentlist.lesson.name}} {{studentlist.className.className}}  isimli öğrenciyi silmek istediğinize emin misiniz ? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <a href="{% url 'yetki' kullanici.user.id %}"><button type="button" class="btn btn-primary">Sil</button></a>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#{{kullanici.user.id}}model">Sil</button>