{% extends "layouts/base.html" %}

{% block title %} Kullanıcılar {% endblock %}

{% block content %}   

 <!--[ Recent Users ] start-->
 <div class="col-xl-8 col-md-6">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>Kullanıcılar Tablosu</h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Profil Resmi</th>
                          <th scope="col">Ad ve Soyad</th>
                          <th scope="col">Telefon</th>
                          <th scope="col">Adres</th>
                          <th scope="col">Email</th>
                          <th scope="col">Aktif</th>
                        </tr>
                      </thead>
                    <tbody>
                        {% for kullanici in Kullanicilar %}
                        <tr class="unread">
                            <td><img class="rounded-circle" style="width:50px;" src="{{media_url}} {{kullanici.image}}" alt="activity-user"></td>
                           
                            <td title="Ad Soyad">
                                <h6 class="mb-1">{{kullanici.ad}} {{kullanici.soyAd}}</h6>
                                <p class="m-0">{{kullanici.gorev}} </p>
                            </td>
                            <td>
                                <h6 class="mb-1">{{kullanici.telefonNo}} </h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{kullanici.adres}}</h6>
        
                            </td>
                            <td>
                                <h6 class="mb-1">{{kullanici.email}} </h6>
        
                            </td>
                            <td>
                                <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i></h6>
                            </td>
                            <td><a href="#!" class="label theme-bg2 text-white f-12">Yetki Kaldır</a><a href="#!" class="label theme-bg text-white f-12">Yetki Ver</a></td>
                        </tr>
                       {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--[ Recent Users ] end-->

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}