<form class="col-md-12" method="GET" action=".">
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group">
        
        <input
          class="form-control py-2 border-right-0 border"
          type="search"
          name="filterTextVal"
          placeholder="Aranacak Kelime"
        />
        <span class="input-group-append">
          <div class="input-group-text bg-transparent">
            <i class="fa fa-search"></i>
          </div>
        </span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <select id="category" class="form-control" name="category">
        
        {% for k,v in filterNames.items %}
        <option value="{{ v }}" {% if k.selected %} selected {% endif %} >{{ k }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
    <div class="form-row">
      
      <div class="form-group col-xl-3 col-md-3">
        <label for="classLevel">Sınıf</label>
        <select id="classLevel" class="form-control" name="classLevel">
          
          {% for classLevel in classLevels %}
          <option value="{{ classLevel }}" {% if classLevel.selected %} selected {% endif %} >{{ classLevel }}</option>
          {% endfor %}
          <option value="0">Tüm Seviyeler</option>
        </select>
      </div>
      <div class="form-group col-xl-3 col-md-3">
        <label for="className">Sınıf</label>
        <select id="className" class="form-control" name="className">
          
          {% for className in classNames %}
          <option value="{{ className }}">{{ className }}</option>
          {% endfor %}
          <option value="0">Tüm Sınıflar</option>
        </select>
      </div>
      <div class="form-group col-xl-3 col-md-3">
        <label for="session">Dönem</label>
        <select id="session" class="form-control" name="session">
          {% for session in sessions %}
          <option value="{{ session }}">{{ session }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <div class="form-row">
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="reviewed"
        name="reviewed"
      />
      <label class="form-check-label" for="reviewed"> Ayrılan </label>
    </div>
  </div>
 
</div>
  <a href=""><button type="submit" class="btn btn-primary">Arama</button></a>
</form>
