
     <nav class="pcoded-navbar icon-colored menu-light">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                href="#"
                   class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Okul Yönetimi</span>
                    
                </a>
                
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
                
            </div>
            
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    
                    
                    
                    <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>

                    
                    {% if user.is_staff %} 
                    <!-- admin site - Yönetici izni var ise sadece yöneticinin girebildiği kısımları görebilecek -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Yönetici<span class="pcoded-badge label label-danger">YENİ</span></label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Yönetici Paneli</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/register/"       class="">Öğretmen Ekle/Düzenle </a></li>
                            <li class=""><a href="/student/add" class="">Öğrenci Ekle</a></li>
                            <li class=""><a href="/student/input" class="">Öğrencileri içe AKtar</a></li>
                            <li class=""><a href="/classes/assign/" class="">Öğrenci Sınıf Atama</a></li>
                            <li class=""><a href="/attendance/lessonPeriods" class="">Ders Saatleri </a></li>
                            <li class=""><a href="/classes/" class="">Sınıf Ekle/Düzenle</a></li>
                            <li class=""><a href="/lessons/add" class="">Ders Ekle/Düzenle</a></li>
                            <li class=""><a href="/lessons/lessons/add" class="">Ders Atama</a></li>
                            <li class=""><a href="/lessons/lessonPlan/add" class="">Ders Programı Hazırlama</a></li>
                            <li class=""><a href="/page-blank.html" class="">Yapılacak - Nöbet Programı Hazırlama</a></li>
                            <li class=""><a href="/page-blank.html" class="">Yapılacak - Okul Servisi Düzeneleme</a></li>
                            <li class=""><a href="/page-blank.html" class="">Yapılacak - Staj Programı Düzenleme</a></li>
                            
                        </ul></li>
                    <!-- admin site -->
                    {% endif %}
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>Sayfalar</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Raporlar</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/report/attendanceReport" class="">Yoklama Raporu</a></li>
                            <li class=""><a href="/student/export" class="">Öğrencileri Dışa Aktar</a></li>
                            <li class=""><a href="/rpr-dis.html" class="">DIS Raporu - Yapılacak</a></li>
                            <li class=""><a href="/rpr-dersler.html" class="">Ders Raporları- Yapılacak</a></li>
                            <li class=""><a href="/rpr-sok.html" class="">SÖK Raporları- Yapılacak</a></li>
                            <li class=""><a href="/rpr-diger.html" class="">Diğer Raporlar- Yapılacak</a></li>
                            
                        </ul></li>
                        <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Yapılacak -  Sınıflar</span></a>
                        <ul class="pcoded-submenu">
                            <li class="">
                                <li data-username=""class="nav-item pcoded-hasmenu">
                                    <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext"> Yapılacak - 9. Sınıflar</span></a>
                                    <ul class="pcoded-submenu">
                                        <li class=""><a href="/cls-9sinif.html" class="">A - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-10sinif.html" class="">B - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-11sinif.html" class="">C - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">D - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">E - ŞUBESİ</a></li>

                                        
                                    </ul>

                            </li>
                            <li class="">
                                <li data-username="" class="nav-item pcoded-hasmenu">
                                    <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Yapılacak -  10. Sınıflar</span></a>
                                    <ul class="pcoded-submenu">
                                        <li class=""><a href="/cls-9sinif.html" class="">A - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-10sinif.html" class="">B - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-11sinif.html" class="">C - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">D - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">E - ŞUBESİ</a></li>

                                        
                                    </ul>

                            </li>
                            <li class="">
                                <li data-username="" class="nav-item pcoded-hasmenu">
                                    <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext"> Yapılacak - 11. Sınıflar</span></a>
                                    <ul class="pcoded-submenu">
                                        <li class=""><a href="/cls-9sinif.html" class="">A - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-10sinif.html" class="">B - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-11sinif.html" class="">C - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">D - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">E - ŞUBESİ</a></li>

                                        
                                    </ul>

                            </li>
                            <li class="">
                                <li data-username="" class="nav-item pcoded-hasmenu">
                                    <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Yapılacak - 12. Sınıflar</span></a>
                                    <ul class="pcoded-submenu">
                                        <li class=""><a href="/cls-9sinif.html" class="">A - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-10sinif.html" class="">B - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-11sinif.html" class="">C - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">D - ŞUBESİ</a></li>
                                        <li class=""><a href="/cls-12sinif.html" class="">E - ŞUBESİ</a></li>

                                        
                                    </ul>

                            </li>
                        </ul>
                    </li>
                    
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'usr-ogretmenler' in segment %} active {% endif %}">
                        <a href="/usr-ogretmenler.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Öğretmenler</span></a>
                    </li>
                    
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'usr-ogrenciler' in segment %} active {% endif %}">
                        <a href="/student/list" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Öğrenciler</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'page-dersler' in segment %} active {% endif %}">
                        <a href="/page-dersler.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Dersler</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select"

                        class="nav-item {% if 'page-dersler' in segment %} active {% endif %}">

                        <a href="/lessons/lessons/list/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Derslikler</span></a>

                    </li>
                    
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'page-dersler' in segment %} active {% endif %}">
                        <a href="/attendance/list" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Yoklama</span></a>
                    </li>
                    
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>Kulanıcı Ayarları</label>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Profil Ayarları</span></a>
                        <ul class="pcoded-submenu">
                            
                            <li class=""><a href="/profil.html" class="">Profil Düzenle</a></li>
                            <li class=""><a href="/accounts/password_reset/" class="">Şifre Resetleme</a></li>
                        </ul>
                    </li>
                    
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Çıkış</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Diğer</label>
                    </li>
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>Dış Bağlantılar</label>
                    </li>                    
                    <li data-username="Support Page" class="nav-item ">
                        <a target="_blank" href="http://www.iaosbnedimuysalatl.k12.tr/iletisim" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-headphones"></i>
                            </span>
                            <span class="pcoded-mtext">Destek</span>
                        </a>
                    </li>
                    <li data-username="Support Page" class="nav-item ">
                        <a target="_blank" href="http://www.iaosbnedimuysalatl.k12.tr" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Web Sitemiz</span>
                        </a>
                    </li>                   
                </ul>
            </div>
        </div>
    </nav>
