<form class="col-md-12" method="GET" action=".">
  
    <div class="form-inline">
      
      <div class="form-group col-xl-12 col-md-6">
        <label class="mr-3" for="classLevel">Seviye</label>
        <select id="classLevel" class="form-control mr-3" name="classLevel">
          
          {% for classLevel in classLevels %}
          {% if currentClassLevel == classLevel %}
          
          <option value="{{ classLevel }}" selected >{{ classLevel }} </option>
          {% else %}
          <option value="{{ classLevel }}"  >{{ classLevel }}</option>
          {% endif %}
          {% endfor %}
        </select>
     
      
        <label class=""  for="className">Şube</label>
        <select id="className " class="form-control mx-3" name="className">
          
          {% for className in classNames %}
          {% if currentClassName == className %}  
          <option value="{{ className }}" selected>{{ className }}</option>
          {% else %}
          <option value="{{ className }}">{{ className }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <a href="att-list"><button type="submit" class="btn btn-primary mr-3" value="className">Arama</button></a>
        
      
    </div>
    
</form>
